<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="username" value="username" />
    <add key="password" value="password" />
    <add key="ScheduleConnectionKey" value="ScheduleContext" />
    <add key="ScheduleFileLocation" value="C:\RailData\CIF Extracts\TestExtract"/>
    <add key="MongoDbConnectionString" value="mongodb://localhost"/>
  </appSettings>
  <connectionStrings>
    <add name="ScheduleContext" connectionString="Server=localhost\SQLSERVER2016RC1;Initial Catalog=RailDataEngine; Integrated Security=true;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>