<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="serilog:using:MSSqlSever" value="Serilog.Sinks.MSSqlServer" />
    <add key="serilog:write-to:MSSqlServer.connectionString" value="Logging"/>
    <add key="serilog:write-to:MSSqlServer.tableName" value="Logs"/>
  </appSettings>
  <connectionStrings>
    <add name="Logging" connectionString="Server=localhost\SQLSERVER2016RC1;Initial Catalog=RailDataEngine; Integrated Security=true;" />
  </connectionStrings>
</configuration>