<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net461" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.1" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Serilog" version="1.5.14" targetFramework="net461" />
  <package id="Serilog.Sinks.MongoDB" version="2.0.19" targetFramework="net461" />
  <package id="Serilog.Sinks.MSSqlServer" version="3.0.52" targetFramework="net461" />
</packages>